<%- include("partials/header.ejs") %>
 <div class="ui main text container">
    <div class="ui huge header">Blogs</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% blogs.forEach(function(Blog){ %>
             <div class="item">
                 <div class="image">
                    <img src="<%= Blog.image %>">
                 </div>
                   <div class="content">
                    <a class="header" href="#" ><%= Blog.title %></a>
                    
                    <div class="description">
                        <p><%- Blog.description %></p>
                    </div>
                    
                    <div class="extra">
                        <a class="ui floated basic voilet button" href="/blogs/<%= Blog._id %>" >
                            Read More
                            <i class="right chevron icon"></i>
                        </a>
                    </div>

                    
                   </div>
                
                
                
                
               

             </div>
                
            <% }); %>
        </div>
    </div>

</div> 


<%- include("partials/footer.ejs") %>